$fontsize: 2rem;

.TextLoop {
  font-size: $fontsize;
  color: #ffffff;

  &.in {
    animation: 0.4s text-loop-in ease both;
  }
  &.out {
    animation: 0.4s text-loop-out ease both;
  }
}

@keyframes text-loop-in {
  0% {
    transform: translateY(calc($fontsize / 2));
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes text-loop-out {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(calc($fontsize / -2));
    opacity: 0;
  }
}
