@import "./keyframes.scss";

.scale-in-bottom {
  -webkit-animation: scale-in-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.scale-out-bottom {
  -webkit-animation: scale-out-bottom 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: scale-out-bottom 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slide-in-elliptic-bottom-fwd {
  -webkit-animation: slide-in-elliptic-bottom-fwd 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-bottom-fwd 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.4s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: slide-in-right 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
