@import "../../src/styles/font.scss";

body,
html {
  background-color: #fff;
  font-size: 14px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

* {
  font-family: "Segoe UI", sans-serif;
  font-weight: 300;
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  height: calc(100vh - var(--vh-offset, 0px));
  overflow: hidden;
  background-image: url("https://s2.loli.net/2022/10/06/q9bTulcUsD2eKoz.jpg");
  background-color: #f29d2a;
  background-size: cover;

  user-select: none;
  -webkit-user-select: none;
}

.button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 0;
  background-color: #e2e2e2;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #c7c7c7;
  }

  &:active {
    background-color: #a9a9a9;
  }
}
