@font-face {
  font-family: "Segoe UI";
  src: url("https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-light.woff2")
      format("woff2"),
    url("https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-light.woff")
      format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Segoe UI Web (West European)";
  src: url("https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semilight.woff2")
      format("woff2"),
    url("https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semilight.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
}

body,
html {
  background-color: #fff;
  font-size: 14px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

* {
  font-family: "Segoe UI", sans-serif;
  font-weight: 300;
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url("https://s2.loli.net/2022/10/06/q9bTulcUsD2eKoz.jpg");
  background-color: #f29d2a;
  background-size: cover;

  user-select: none;
  -webkit-user-select: none;

  &.mApp {
    overflow-y: auto;
  }
}

.button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 0;
  background-color: #e2e2e2;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #c7c7c7;
  }

  &:active {
    background-color: #a9a9a9;
  }
}
