body,
html {
  background-color: #fff;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  user-select: none;
  -webkit-user-select: none;
}
