.LockScreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0b1222;
  position: fixed;
  overflow: hidden;
  z-index: 999;
  top: 0;
  left: 0;

  &.unlocked {
    animation: 0.6s lockscreen-show-out 0.4s cubic-bezier(0.03, 0.45, 0, 0.82)
      both;
  }
}

@keyframes lockscreen-show-out {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
    display: none;
  }
}
