$tileSize: 10rem;
$tileMargin: 0.5rem;
$iconSize: 5rem;

@mixin multisize {
  &.middle {
    width: $tileSize;
  }

  &.wide {
    width: 2 * $tileSize;
  }

  &.large {
    width: 2 * $tileSize;
    height: 2 * $tileSize;
  }
}

.DesktopTile {
  height: $tileSize;
  width: $tileSize;
  position: relative;
  align-items: center;
  margin: 0 $tileMargin $tileMargin 0;
  overflow: hidden;
  transition: all 0.2s ease;
  @include multisize();

  &:hover {
    transform: scale(0.98);
  }

  &:active {
    transform: scale(0.94);
  }
}

.DesktopTileIconBox {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.DesktopTileIcon {
  width: $iconSize;
  height: $iconSize;
}

.DesktopTileNameWide {
  font-size: 3rem;
  padding: 0 0 0 0.4rem;
}

.DesktopTileName {
  font-size: 0.6rem;
  position: absolute;
  bottom: 0.6rem;
  left: 1rem;
}

.LiveTile {
  height: $tileSize;
  width: $tileSize;
  display: flex;
  flex-direction: column;
  animation: live-tile-slide-in-from-bottom 1.8s
    cubic-bezier(0.05, 0.89, 0.12, 0.94) both;

  @include multisize();
}

.LiveTileMain {
  position: relative;
  flex-grow: 1;
  padding: 0.4rem 1rem;
}

.LiveTileTitle {
  font-size: 2rem;
}
.LiveTileContent {
}

.LiveTileFooter {
  height: 1.6rem;
  display: flex;
  padding: 0 1rem;
}
.LiveTileFooterIcon {
  width: 1rem;
  height: 1rem;
}

@keyframes live-tile-slide-in-from-bottom {
  0% {
    transform: translateY(2rem);
  }
  100% {
    transform: translateY(0);
  }
}
