$tileSize: 10rem;
$iconSize: 5rem;

.DesktopTile {
  height: $tileSize;
  width: $tileSize;
  position: relative;
  align-items: center;
  margin: 0 0.5rem 0.5rem 0;

  &.middle {
    width: $tileSize;
  }

  &.wide {
    width: 2 * $tileSize;
  }
}

.DesktopTileIcon {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: calc(50% - 0.8rem);
  width: $iconSize;
  height: $iconSize;
}

.DesktopTileName {
  font-size: 0.6rem;
  position: absolute;
  bottom: 0.6rem;
  left: 1rem;
}
