@import "../../variables.scss";

@mixin multisize {
  &.middle {
    width: $tileSize;
  }

  &.wide {
    width: 2 * $tileSize + $tileMargin;
  }

  &.large {
    width: 2 * $tileSize + $tileMargin;
    height: 2 * $tileSize + $tileMargin;
  }
}

.DesktopTile {
  height: $tileSize;
  width: $tileSize;
  position: absolute;
  align-items: center;
  margin: 0 $tileMargin $tileMargin 0;
  overflow: hidden;
  transition: all 0.2s ease;
  @include multisize();

  &.clickable:hover {
    cursor: pointer;
  }

  &:hover {
    cursor: not-allowed;
    transform: scale(0.98);
  }

  &:active {
    transform: scale(0.94);
  }
}

.DesktopTileIconBox {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.DesktopTileIcon {
  width: $iconSize;
  height: $iconSize;
}

.DesktopTileNameWide {
  font-size: 3rem;
  padding: 0 0 0 0.4rem;
}

.DesktopTileName {
  font-size: 0.6rem;
  position: absolute;
  bottom: 0.6rem;
  left: 1rem;
}

.LiveTile {
  height: $tileSize;
  width: $tileSize;
  position: absolute;
  top: 0;
  left: 0;
  @include multisize();

  &.in {
    animation: live-tile-slide-in-from-bottom 1.8s
      cubic-bezier(0.11, 0.9, 0.06, 0.99) both;
  }

  &.out {
    animation: live-tile-slide-out-from-bottom 1s
      cubic-bezier(0.64, 0.06, 0.83, 0.06) both;
  }
}

.LiveTileMain {
  padding: 0.4rem 1rem;
}

.LiveTileTitle {
  font-size: 2rem;
}
.LiveTileContent {
  margin: 0.4rem 0 0 0;
}

.LiveTileFooter {
  position: absolute;
  bottom: 0;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1rem 0.4rem 1rem;
}
.LiveTileFooterIcon {
  width: 1rem;
  height: 1rem;
}
.LiveTileFooterId {
  margin: 0 0 0 0.4rem;
  font-size: 0.8rem;
}

@keyframes live-tile-slide-in-from-bottom {
  0% {
    transform: translateY(3 * $tileSize);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes live-tile-slide-out-from-bottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(3 * $tileSize);
  }
}
