.WeatherTile {
  display: flex;
  height: 100%;
  align-items: center;
}

.WeatherTileIcon {
  font-size: 4rem;
  margin: 0 1rem 0 0;
}

.WeatherTileData {
}

.WeatherTileCity {
  font-size: 2.4rem;
}

.WeatherTileDistrict {
  font-size: 1rem;
}

.WeatherTileWeather {
  margin: 1rem 0 0 0;
  .text {
    font-size: 1.4rem;
  }

  .temp {
    font-size: 1.6rem;
  }

  .tempRange {
    font-size: 1rem;
  }
}
