$SystemPanelWidth: 8rem;

.DesktopAvatar {
  height: 6rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background-color: rgba(130, 130, 130, 0.4);
  }

  &:active {
    transform: scale(0.98);
  }
}

.DesktopAvatarNames {
  text-align: right;
  margin: 0 1rem 0 0;

  .FirstName {
    font-size: 2rem;
  }

  .LastName {
    font-size: 1.2rem;
  }
}

.DesktopAvatarImg {
  width: 4rem;
  height: 4rem;
}

.TaskCenterPanel {
  .TaskCenterPanelMask {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #00000037;
  }
}

.SystemControlPanel {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: $SystemPanelWidth;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SystemControlAction {
  text-align: center;
  width: 100%;
  padding: 2rem 0;
  cursor: pointer;

  &:hover {
    background-color: #373737;
  }
  &:active {
    transform: scale(0.98);
  }

  img {
    width: calc($SystemPanelWidth - 4rem);
    height: calc($SystemPanelWidth - 4rem);
  }
}

.SystemInfoDocker {
  position: fixed;
  left: 6rem;
  bottom: 6rem;
  height: 10rem;
  background-color: #000000;
  display: flex;
}

.DockerIcons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 1rem 1.6rem 1.8rem;

  img {
    width: 1.4rem;
    height: 1.4rem;
    margin: 0.4rem 0;
  }
}
.DockerTime {
  font-size: 7rem;
  width: 16rem;
  text-align: center;
  margin: 0 1.6rem 0 0;
}

.DockerDate {
  margin: 0 1.6rem 1.8rem 0;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.TaskCenterPanel.in {
  .SystemControlPanel {
    animation: system-panel-in 0.6s cubic-bezier(0.1, 0.78, 0.14, 0.97) both;
  }
  .SystemControlAction {
    animation: system-panel-in 0.8s cubic-bezier(0.1, 0.78, 0.14, 0.97) both;
  }

  .SystemInfoDocker {
    animation: docker-in 0.6s cubic-bezier(0.1, 0.78, 0.14, 0.97) both;
  }
  .TaskCenterPanelMask {
    animation: taskcenter-in 0.6s cubic-bezier(0.1, 0.78, 0.14, 0.97) both;
  }
}

.TaskCenterPanel.out {
  .SystemControlPanel {
    animation: system-panel-out 0.6s cubic-bezier(0.03, 0.45, 0, 0.82) both;
  }

  .SystemControlAction {
    animation: system-panel-out 0.4s cubic-bezier(0.03, 0.45, 0, 0.82) both;
  }

  .SystemInfoDocker {
    animation: docker-out 0.4s cubic-bezier(0.03, 0.45, 0, 0.82) both;
  }
  .TaskCenterPanelMask {
    animation: taskcenter-out 0.6s cubic-bezier(0.03, 0.45, 0, 0.82) both;
  }
}

@keyframes system-panel-in {
  0% {
    transform: translateX($SystemPanelWidth);
    z-index: 0;
  }
  100% {
    transform: translateX(0);
    z-index: 9999;
  }
}

@keyframes system-panel-out {
  0% {
    transform: translateX(0);
    z-index: 9999;
  }
  100% {
    transform: translateX($SystemPanelWidth);
    z-index: 0;
  }
}

@keyframes docker-in {
  0% {
    z-index: -1;
    transform: translateX(-6rem);
    opacity: 0;
  }
  100% {
    z-index: 9999;
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes docker-out {
  0% {
    z-index: 9999;
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    z-index: -1;
    transform: translateX(-6rem);
    opacity: 0;
  }
}

@keyframes taskcenter-in {
  from {
    z-index: -1;
  }
  0% {
    z-index: 998;
    opacity: 0;
  }
  100% {
    z-index: 998;
    opacity: 1;
    display: block;
  }
}
@keyframes taskcenter-out {
  from {
    z-index: 998;
  }
  0% {
    z-index: 998;
    opacity: 1;
  }
  100% {
    z-index: -1;
    display: none;
    opacity: 0;
  }
}
