.AppOutside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.AppOutsideTitle {
  margin: 0 2rem 0 2rem;
  font-size: 2rem;
  font-weight: 300;
}

.AppOutsideHint {
  margin: 2rem 2rem 1rem 2rem;
  white-space: pre-line;
  font-size: 1.2rem;
}

.AppOutsideAction {
  margin: 1rem 0 0 0;
  color: #000000;
  .button {
    width: 6rem;
    height: 3rem;
    font-size: 2rem;
  }
}
