.AppContainer {
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: #818181;
  border: 1.6px solid #ababab;

  &.active {
    z-index: 9;
  }
}

.AppContainerNavBar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  height: 2rem;

  img {
    width: 1.6rem;
    height: 1.6rem;
    padding: 0 0.4rem 0 1rem;
  }

  .appTitle {
    flex-grow: 1;
    padding: 0 0.6rem;
  }
}

.AppContainerActionbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;

  .AppContainerActionBtn {
    cursor: pointer;
    background-size: 1.2rem;
    background-position: center;
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;

    &:hover {
      background-color: #e0e0e0;
    }
  }
}

.AppContainerActionBtn.actionbarMini {
  background-image: url("https://img.icons8.com/material-outlined/48/FFFFFF/minus-math.png");
  background-color: #ffffff;
}

.AppContainerActionBtn.actionbarClose {
  background-image: url("https://img.icons8.com/material-outlined/48/FFFFFF/delete-sign.png");
  background-color: #ff4040;
  width: 3rem;

  &:hover {
    background-color: #ff5858;
  }
}

.AppContainerContent {
  height: calc(100vh - 2rem);
  border-top: 1.6px solid #ababab;
}
