.AppContainer {
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: #ffffff;
  border: 1.6px solid #ababab;

  &.in {
    animation: app-show-in 0.4s cubic-bezier(0.1, 0.78, 0.14, 0.97) both;
  }

  &.out {
    animation: app-show-out 0.2s cubic-bezier(0.03, 0.45, 0, 0.82) both;
  }

  &.active {
    z-index: 9;
  }
}

.AppContainerNavBar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  height: 2rem;

  img {
    width: 1.6rem;
    height: 1.6rem;
    padding: 0 0.4rem 0 1rem;
  }

  .appTitle {
    flex-grow: 1;
    padding: 0 0.6rem;
  }
}

.AppContainerActionbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;

  .AppContainerActionBtn {
    cursor: pointer;
    background-size: 1.2rem;
    background-position: center;
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;

    &:hover {
      background-color: #e0e0e0;
    }
  }
}

.AppContainerActionBtn.actionbarMini {
  background-image: url("https://img.icons8.com/material-outlined/48/FFFFFF/minus.png");
  background-color: #939393;
  width: 2rem;

  &:hover {
    background-color: #555555;
  }
}

.AppContainerActionBtn.actionbarClose {
  background-image: url("https://img.icons8.com/material-outlined/48/FFFFFF/delete-sign.png");
  background-color: #ff4040;
  width: 3rem;

  &:hover {
    background-color: #ff5858;
  }
}

.AppContaienerCover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &.out {
    animation: 0.2s app-cover-out ease both;
    animation-delay: 0.4s;

    &.now {
      animation-delay: 0.8s;
    }
  }
}

.AppContaienerCoverIcon {
  width: 9rem;
  height: 9rem;
}

.AppContaienerCoverTitle {
  font-size: 3rem;
  margin: 1rem 0;
  animation: 0.4s app-cover-elem-in 1s ease both;
}

.AppContaienerCoverLoading {
  animation: 0.4s app-cover-elem-in 2s ease both;

  .lds-default {
    transform: scale(0.6);
  }
}

.AppContainerContent {
  height: calc(100vh - 2rem);
  border-top: 1.6px solid #ababab;
}

@keyframes app-show-in {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes app-show-out {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}

@keyframes app-cover-out {
  0% {
    opacity: 1;
    z-index: 99;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes app-cover-elem-in {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
