.AppContainer {
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: #818181;
  border: 1.6px solid #ababab;

  &.active {
    z-index: 9;
  }
}

.AppContainerNavBar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  border-bottom: 1.6px solid #ababab;

  img {
    width: 1.6rem;
    height: 1.6rem;
    padding: 0 0.4rem 0 1rem;
  }

  .appTitle {
    flex-grow: 1;
    padding: 0 0.6rem;
  }
}

.AppContainerActionbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;

  .AppContainerActionBtn {
    cursor: pointer;
    background-size: 1.6rem;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.6rem;
    width: 2rem;
    height: 2rem;
    border: 1px solid #e0e0e0;

    &:hover {
      background-color: #e0e0e0;
    }
  }
}

.AppContainerActionBtn.actionbarMini {
  background-image: url("https://img.icons8.com/dusk/64/000000/minus-math.png");
  background-color: #e0ffe8;
}

.AppContainerActionBtn.actionbarClose {
  background-image: url("https://img.icons8.com/dusk/64/000000/multiply.png");
  background-color: #ffd7d7;
}
