.Desktop {
  color: #fff;
}

.DesktopHeader {
  margin: 4rem 4rem 0 8rem;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.DesktopStart {
  font-size: 6rem;
  line-height: 6rem;
  height: 6rem;
}

.DesktopAvatar {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.DesktopAvatarNames {
  text-align: right;
  margin: 0 1rem 0 0;

  .FirstName {
    font-size: 2rem;
  }

  .LastName {
    font-size: 1.2rem;
  }
}

.DesktopAvatarImg {
  width: 4rem;
  height: 4rem;
}

.DesktopTiles {
  padding: 4rem 0 0 8rem;
}

.DesktopTilesGroup {
  margin: 0 1rem 0 0;
  display: flex;
}
