@import "../../variables.scss";

.Desktop {
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.DesktopHeader {
  margin: 4rem 5rem 0 8rem;
  height: 6rem;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.DesktopStart {
  font-size: 6rem;
  line-height: 6rem;
  height: 6rem;
}

.DesktopTiles {
  flex-shrink: 0;
  flex-grow: 1;
  padding: 4rem 0 0 8rem;
  display: flex;
  flex-wrap: nowrap;
  overflow-y: auto;
}

.DesktopTilesGroup {
  flex-shrink: 0;
  margin: 0 4rem 0 0;
  min-height: 4 * ($tileSize + $tileMargin);
  position: relative;
}
