html,
body {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-size: 14px;
  background-color: #f7f0e0;
}

#SceneLoader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .lds-default div {
    background: #000;
  }
}

#BrowserContainer {
  position: absolute;
  z-index: 9;
  background-color: #000;
  overflow: hidden;
  display: flex;
  width: 0;
  height: 0;
  left: 50%;
  top: 20%;
  flex-direction: column;
  transition: all 0.5s ease;

  &.on {
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
  }

  main {
    flex-grow: 1;
    background-color: #0b1222;
    border: 1rem solid #282828;

    iframe {
      width: 100%;
      height: 100%;
      border: 3px solid #8e8e8e;
      display: none;

      &.on {
        display: block;
      }
    }
  }
}
